/* Basic Styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DCDCDC;
}

img {
  border-radius: 10px; /* Adjust the value for desired rounding */
}

header, main, footer {
    padding: 20px;
}

/* Header Styles */
header {
    background-color: black;
    color: white;
    text-align: center;
}

/* Blog Post Styles */
.blog-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.blog-post {
    background-color: white;
	padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;  /* Adjust as needed */
    margin-bottom: 20px;
}

.blog-post h2 {
    margin-top: 0;
}

.blog-post a {
    text-decoration: none;
    color: #007bff;
}

/* About Section Styles */
.about {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Footer Styles */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}